<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 引入jdbc配置文件 -->
    <context:annotation-config></context:annotation-config>

    <mvc:annotation-driven />

    <context:component-scan base-package="com.dragon.study.demo.service"/>

    <bean id="demoDataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <!-- Connection Info -->
        <property name="driverClassName" value="${dataSource.driver}"/>
        <property name="url" value="${dataSource.url}"/>
        <property name="username" value="${dataSource.username}"/>
        <property name="password" value="${dataSource.password}"/>

        <!-- Connection Pooling Info -->
        <property name="initialSize" value="5"/>
        <!-- 初始化连接数量 -->
        <property name="minIdle" value="5"/>
        <!-- 最小等待连接中的数量,设 0 为没有限制 -->
        <property name="maxIdle" value="10"/>
        <property name="maxActive" value="10"/>
        <!-- 连接池的最大数据库连接数。设为0表示无限制。 -->
        <property name="maxWait" value="60000"/>
        <!-- 最大建立连接等待时间。如果超过此时间将接到异常。设为-1表示无限制。 -->
        <property name="removeAbandonedTimeout" value="90"/>
        <!--自我中断时间秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>
        <!--连接的超时时间，默认为半小时。-->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 运行判断连接超时任务的时间间隔，单位为毫秒，默认为-1，即不执行任务。 -->
        <property name="testWhileIdle" value="true"/>
        <!--默认值是false,当连接池中的空闲连接是否有效 -->
        <property name="testOnBorrow" value="true"/>
        <!-- 默认值是true，当从连接池取连接时，验证这个连接是否有效-->
        <property name="validationInterval" value="30000"/>
        <!--检查连接死活的时间间隔（单位：毫妙） 0以下的话不检查。默认是0。 -->
        <property name="testOnReturn" value="false"/>
        <!--默认值是flase,当从把该连接放回到连接池的时，验证这个连接是 -->
        <property name="validationQuery" value="select 1"/>
        <!--一条sql语句，用来验证数据库连接是否正常。这条语句必须是一个查询模式，并至少返回一条数据。可以为任何可以验证数据库连接是否正常的sql-->
        <property name="removeAbandoned" value="true"/>
        <!-- 是否自动回收超时连接-->
    </bean>

    <!-- 一个SqlSessionFactory 1 -->
    <bean id="demoSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
        <property name="dataSource" ref="demoDataSource"/>
        <property name="typeAliasesPackage" value="com.dragon.study.demo.model"/>
    </bean>

    <bean id="demoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.dragon.study.demo.mapper.DemoMapper"></property>
        <property name="sqlSessionFactory" ref="demoSqlSessionFactory"></property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- 事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="demoDataSource" />
    </bean>

</beans>
